[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aiohttp-debugtoolbar = "*"
isort = "*"

[packages]
aiohttp = "*"
uvloop = "*"
orjson = "*"
tortoise-orm = "*"
aerich = "*"
aiohttp-jwt = "*"
aiohttp-cors = "*"
aiohttp-swagger = "*"
asyncpg = "*"
envparse = "*"
pydantic = "*"

[requires]
python_version = "3.9"
